body {
  font-family: 'MyCustomFont', 'Inter', sans-serif;
  color: white;
}


@font-face {
  font-family: 'MyCustomFont';
  src: url('assets/Font/RecoletaAlt-Medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  color: white;
}
p {
  font-family: 'Roboto', sans-serif;
}
html {
  scroll-behavior: smooth;
}
