body {
  font-family: 'MyCustomFont', 'Inter', sans-serif;
  color: white;
}


@font-face {
  font-family: 'MyCustomFont';
  src: url('/Assets/Font/RecoletaAlt-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  color: white;
}
