body {
  font-family: 'MyCustomFont', 'Inter', sans-serif;
  color: white;
}


@font-face {
  font-family: 'MyCustomFont';
<<<<<<< Updated upstream
  src: url('/Assets/Font/RecoletaAlt-Bold.ttf') format('truetype');
=======
  src: url('assets/Font/RecoletaAlt-Medium.ttf') format('truetype');
>>>>>>> Stashed changes
  font-weight: normal;
  font-style: normal;
  color: white;
}
p {
  font-family: 'Roboto', sans-serif;
}
html {
  scroll-behavior: smooth;
}
