.card-wrapper {
  display: flex;
  align-items:center;
  justify-content: center;
  gap: 10px;
  width: 100%;
  margin: auto;
  padding: 20px 0;
  min-width: 100px;
}

.nav-arrow {
  width: 40px;
  height: auto;
  cursor: pointer;
  transition: transform 0.3s;
}

.nav-arrow:hover {
  transform: scale(1.1);
}

.card-container {
  width: 100%;
  max-width: 1300px; /* para 3 tarjetas */
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.card-list {
  display: flex;
  gap: 20px;
  transition: transform 0.5s ease-in-out;
  flex-wrap: wrap;
  justify-content: center;
}

.card-item {
  flex: 0 0 300px;
  box-sizing: border-box;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.card-scroll-wrapper {
  max-height:43vh; /* Adjust height as needed */
  overflow-y: auto;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  scroll-behavior: smooth;
}

.scroll-list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 0;
  margin: 0;
  list-style: none;
}

.scroll-item {
  width: 100%;
  max-width: 100%;
  scroll-snap-align: start;
}

.card-scroll-wrapper::-webkit-scrollbar {
  width: 8px;
}

.card-scroll-wrapper::-webkit-scrollbar-thumb {
  background-color: rgba(0,0,0,0.2);
  border-radius: 4px;
}
.card-scroll-wrapper::-webkit-scrollbar {
  display: none;
}

@media (max-width: 768px) {
  .card-item {
    flex: 0 0 90%;
  }

  .nav-arrow {
    width: 30px;
  }
}

